[submodule "cors-anywhere"]
	path = cors-anywhere
	url = https://github.com/Rob--W/cors-anywhere
    
[submodule "consumet-api"]
	path = consumet-api
	url = https://github.com/wearrrrr/api.consumet.org

[submodule "consumet-api"]
	path = consumet-api
	url = https://github.com/wearrrrr/api.consumet.org
