body {
    font-family: "Noto Sans", sans-serif;
}
.donate-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.donation-reasons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.donate-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.donate-links-container > .donate-item-wrapper > * {
    text-decoration: none;
}
.donate-item-wrapper {
    width: 75%;
    overflow-wrap: anywhere;
    text-align: center;
}
.donate-item-wrapper > h3 {
    transition: color 250ms ease-in;
}
.donate-item-wrapper > h3:hover {
    color: var(--light-accent-hover);
}
.donation-reasons-container > ul > li {
    color: var(--dark-accent);
    font-size: 24px;
}
h1 {
    color: var(--dark-accent);
    font-size: 48px;
}
h2 {
    color: var(--dark-accent);
    font-size: 36px;
}
h3 {
    color: var(--light-accent);
    font-size: 24px;
    text-decoration: underline;
}
h3 > a {
    color: var(--light-accent);
}
h4 {
    color: var(--dark-accent);
    margin: 0;
    margin-bottom: 10px;
}
.donate-header-container > svg {
    width: 10%;
    fill: var(--light-accent);
}
.donate-hr-separator {
    height: 2px;
    background-color: var(--dark-accent);
    border: none;
    width: 100%;
}
.donate-item > i {
    position: relative;
    top: -1px;
}
.platinum-donator {
    color: #A0B2C6;
}
.diamond-donator {
    color: var(--brand-color);
}