html {
  position: relative;
}
body {
  background: #202125 !important;
  font-family: 'Inter', sans-serif;
  color: #ccc;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
}
::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(255, 255, 255, .4)
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .3)
}
.grid-wrapper-new-release {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.grid-wrapper-continue-watching {
    display: flex;
    justify-content: center;  
}

.new-releases {
    width: 95vw;
    margin: 0 auto;
}

.continueWatchingLink {
    position: absolute;
    height: 385px;
    width: 280px;
}

@media (max-width: 1280px) {
  .grid-wrapper-new-release {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 850px) {
  .grid-wrapper-new-release {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .grid-wrapper-new-release {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .grid-wrapper-new-release {
    grid-template-columns: 1fr;
  }
}
.splide__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #51D3FF;
  border-radius: 15px;
  cursor: pointer;
}

.splide__slide > img {
  margin-top: 15px;
  border-radius: 15px;
}

.splide__animeTitle {
  font-family: "Inter", sans-serif;
  color: #3fccfc;
  text-align: center;
  overflow: hidden;
  height: 55px;
  max-height: 55px;
  font-size: 18px;
  max-width: 100%;
  font-weight: 400;
}
.splide__episodeNum {
    font-family: "Inter", sans-serif;
    color: white;
}
.header {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 3%;
  color: #fff;
  line-height: 1.4em;
  margin-bottom: 20px
}
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";
a {
  outline: none;
  -moz-outline: none;
  color: #aaa;
}
a:hover {
  color: #51D3FF;
  text-decoration: none;
}
button,
.btn {
  border: none !important;
}
.btn-sm {
  font-size: 12px;
}
.btn-radius {
  border-radius: 30px;
}
.btn-highlight {
  font-weight: 600;
  color: #51D3FF;
  font-size: 1.2em;
  position: relative;
  padding-left: 50px;
  display: inline-block;
}
.btn-highlight img {
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.ulclear {
  list-style: none;
  padding: 0;
}
.container {
  max-width: 1200px !important;
  width: 100% !important;
}
#xwrapper {
    width: 100%;
    padding-top: 50px;
    position: relative;
    background: url(/img/36629.jpg);
    background-size: cover;
    height: 350px;
    background-position: top;
}
#xheader {
  padding: 0;
  position: relative;
}
#xheader #xlogo {
  display: inline-block;
  height: 40px;
  margin: 10px 0;
  float: left;
}
#xheader #xlogo img {
  height: 100%;
  width: auto;
  float: left;
  margin-right: 10px;
}
#xheader #xlogo span {
  line-height: 40px;
  font-size: 20px;
  font-weight: 600;
  color: #51D3FF !important;
}
#xheader_menu {
  width: 100%;
  border-radius: 30px 30px 0 0;
}
#xheader_menu .container {
  position: relative;
}
#xheader_menu ul.header_menu-list {
  list-style: none;
  padding: 0;
  display: block;
}
#xheader_menu ul.header_menu-list .nav-item {
  display: inline-block;
  margin: 0 40px 0 0;
  position: relative;
}
#xheader_menu ul.header_menu-list .nav-item > a {
  height: 60px;
  line-height: 60px;
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
  transition: 250ms ease-in-out;
  text-decoration: none;
}
#xheader_menu ul.header_menu-list .nav-item > a:hover {
  color: #51D3FF;
}
#xheader_browser {
  float: left;
  height: 60px;
  position: relative;
  margin: 0 20px 0 0;
  display: none;
}
#xheader_browser .header-btn {
  height: 34px;
  cursor: pointer;
  margin: 13px 0;
  line-height: 34px;
  padding: 0 12px;
  font-size: 18px;
  border-radius: 3px;
  color: #fff;
  font-family: "Inter", sans-serif;
} 
#xheader_browser.active .header-btn {
  color: #51D3FF;
}
#xfooter-about {
  padding: 0 0 40px;
  margin-top: 80px;
}
#xfooter-about .about-text {
  max-width: 800px;
  margin: 0 0 20px;
  line-height: 1.6em;
  font-size: 12px;
  opacity: 0.4;
}
#xfooter-about .footer-link {
  margin-bottom: 0 !important;
  font-size: 13px;
}
.footer-link {
    color: #51D3FF;
}
.footer-link:hover {
    color: #30a9d1;
}
#mw-top .mw-sitename {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #51D3FF;
  margin: 0 0 10px;
}
#mw-top .mw-heading-second {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  padding-left: 30px;
  margin: 0 0 15px;
}
#mw-top .mw-heading-second:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #51D3FF;
  left: 0;
  position: absolute;
  top: 8px;
}
.xhashtag span.title {
  font-weight: 500;
  color: #fff;
  margin-right: 10px;
  float: left;
}
.xhashtag .item {
  margin: 0 6px 6px 0;
  color: #aaa;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.xhashtag .item:after {
  content: ",";
}
.xhashtag .item:last-of-type:after {
  content: ", ...";
}
#action-button {
  margin-bottom: 50px;
  background: #51D3FF;
  border-radius: 0 0 30px 30px;
}
#action-button .btn {
  display: block;
  border-radius: 0;
  padding: 15px 20px;
  font-weight: 600;
  background: 0 0 !important;
  color: #111 !important;
  border: none !important;
  box-shadow: none !important;
}
#xsearch.home-search {
  display: block !important;
  margin: 10px 0;
  padding: 0 !important;
  width: 100%;
  background: 0 0 !important;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
}
#xsearch.home-search .search-input {
  height: 50px;
  font-weight: 400;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  border: none !important;
}

input.submit {
  width: 260px;
  border: 1px solid #fff;
  display: block;
  padding: 9px 4px 9px 40px;
  border-radius: 20px;
  color: white;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
input.submit::placeholder {
    color: rgb(184, 184, 184);
}
@media (max-width: 1290px) {
    input.submit {
        width: 90vw !important;
    }
}
.searchLink {
  height: 335px;
  position: absolute;
  width: 215px;
}
#xsearch.home-search .search-content .search-submit {
  height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  width: 50px;
  background: #51D3FF;
  border-radius: 30px;
}
#xsearch.home-search .search-content .search-submit .search-icon {
}
#xsearch.home-search .search-content .search-submit .search-icon i {
  color: #111;
  font-size: 20px;
  line-height: 50px;
}
#xsearch.home-search .search-content {
  position: relative;
  padding-right: 60px;
  margin-bottom: 30px;
}
.mw-buttons .btn-primary {
  font-weight: 600;
  background: #51D3FF !important;
  color: #111 !important;
  padding: 15px 30px;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
}
.mw-buttons .btn-primary:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(97, 222, 86, 0.6) !important;
}
.mw-body .mwb-left {
  font-size: 14px;
  line-height: 1.5em;
}
.mw-body .mwb-left p {
  line-height: 1.4em;
  margin-bottom: 1em;
}
.mw-body .mwb-left ul {
  padding-left: 15px;
}
.mw-body .mwb-left ul li {
  margin-bottom: 1em;
}
.mw-body .mwb-left h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 15px;
  color: #fff;
}
.mw-body .mwb-left h3 {
  font-size: 1.2em;
  margin-top: 1.5em;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 15px;
  color: #fff;
}
.mwb-left {
  float: left;
  width: calc(100% - 450px);
}
.mwb-right {
  float: right;
  width: 400px;
}
.zr-news {
}
.zr-news .item .zr-news-thumb {
  width: 100%;
  padding-bottom: 56%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
}
.zr-news .item .zr-news-thumb img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.zr-news .item .zrn-title {
  color: #fff;
}
.zr-news .item .zrn-title:hover {
  color: #51D3FF;
}
.zr-news .item .zrn-title .news-title {
  font-size: 16px;
  line-height: 1.4em;
  margin: 0 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.zr-news .item .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.zr-news.zr-news-list {
  padding: 0 20px 50px;
  background: #414248;
  background: -moz-linear-gradient(
    180deg,
    rgba(65, 66, 72, 0) 0%,
    rgba(65, 66, 72, 1) 30%,
    rgba(65, 66, 72, 1) 70%,
    rgba(65, 66, 72, 0.050840404521183435) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(65, 66, 72, 0) 0%,
    rgba(65, 66, 72, 1) 30%,
    rgba(65, 66, 72, 1) 70%,
    rgba(65, 66, 72, 0.050840404521183435) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(65, 66, 72, 0) 0%,
    rgba(65, 66, 72, 1) 30%,
    rgba(65, 66, 72, 1) 70%,
    rgba(65, 66, 72, 0.050840404521183435) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#414248",endColorstr="#414248",GradientType=1);
}
.zr-news.zr-news-list .item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 135px;
  min-height: 88px;
}
.zr-news.zr-news-list .item .news-title {
  font-size: 14px;
  margin-bottom: 5px;
}
.zr-news.zr-news-list .item .zr-news-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  padding-bottom: 82px;
}
.zr-news.zr-news-list .item .description {
  -webkit-line-clamp: 2;
  font-size: 13px;
}
.zr-news.zr-news-list .item.item-more {
  min-height: auto;
  padding: 0;
  margin: 0;
}
.zr-news.zr-news-list .item.item-more .btn-sm {
  padding: 10px;
  background: #5c5d63;
  color: #fff;
}
.heading-news {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin: 0 0 30px;
}
.mw-keywords {
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
}
.mw-keywords .mwk-item {
  display: inline-block;
  float: left;
  color: #696a71;
  margin: 0 5px 5px 0;
  padding: 4px 6px;
  background: #33343c;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 180px;
}
.mw-keywords .mwk-item i {
  display: inline;
  font-size: 11px;
  line-height: 12px;
}
.mw-keywords .mwk-item:hover {
  color: #fff;
  background: #5c5d63;
}
.mw-keywords .mwk-item .anime-title {
  font-size: 12px;
  line-height: 1.2em;
  margin: 0;
  display: inline;
}
.share-buttons {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  background-color: #121315;
  border-radius: 10px;
}
.share-buttons .share-buttons-block {
  padding: 15px;
  position: relative;
}
.share-buttons .share-buttons-block .share-icon {
  display: none;
}
.share-buttons .share-buttons-block .sbb-title {
  display: block;
  font-size: 12px;
  float: left;
  padding: 2px 0 2px 20px;
  border-left: 2px solid #51D3FF;
  margin-right: 20px;
  position: relative;
}
.share-buttons .share-buttons-block .sbb-title span {
  font-weight: 600;
  font-size: 14px;
  color: #51D3FF;
}
.share-buttons .share-buttons-block .sbb-social {
  float: left;
  clear: none !important;
}
.share-buttons .share-buttons-block .at-style-responsive .at-share-btn {
  margin: 1px 6px 1px 0 !important;
}
@media screen and (max-width: 1199px) {
  #mw-top .mwt-content .mwt-icon {
    width: 40%;
  }
  #mw-top .mwt-content {
    padding: 60px 0;
    margin: 0 30px;
  }
  #xheader_menu {
    padding-left: 30px;
  }
}
@media screen and (max-width: 990px) {
  .mwb-left,
  .mwb-right {
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }
  #xfooter-about {
    margin-top: 50px;
  }
}
@media screen and (max-width: 780px) {
  #mw-top .mwt-content .mwt-icon {
    display: none;
  }
  #mw-top .mwt-content {
    padding: 30px 0;
  }
  #xheader_browser {
    display: inline-block;
  }
  #xheader_menu {
    display: none;
    position: absolute;
    left: 15px;
    width: auto;
    top: 60px;
    right: 15px;
    background: rgb(45 46 51);
    border-radius: 25px;
    height: auto;
    padding: 10px 0;
    z-index: 99;
  }

  .xhashtag {
    display: none;
  }
  
  .logo {
    display: none;
  }

.premodal .modal-content .close:hover {
    opacity: 1;
    background: #51D3FF;
    color: #111
}


.modal-backdrop.show {
    background: #111;
    opacity: .9
}

.premodal .modal-content {
    border-radius: 0;
    border: 0
}

.premodal-login .modal-content {
    background: #333;
    color: #fff !important
}

.premodal .modal-content .modal-header {
    border-bottom: 0;
    border-radius: 0;
    padding: 25px 30px 0;
    position: relative;
    display: block
}

.premodal .modal-content .modal-header .modal-title {
    text-align: center;
    font-weight: 600
}

.premodal .modal-content .close {
    position: absolute;
    top: -15px;
    right: -15px;
    color: #111;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 3;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    padding: 0;
    opacity: 1;
    text-shadow: none
}

.premodal .modal-content .modal-body {
    padding: 20px 30px 30px
}

.premodal-login .modal-content .modal-body {
    padding: 20px 60px 30px
}

.premodal-trailer .modal-content .modal-body {
    padding: 5px
}

.premodal-trailer .modal-dialog {
    max-width: 800px
}

.premodal .modal-content .modal-footer {
    padding-bottom: 30px;
    display: block;
    background: 0;
    border-top: 0
}

.preform .form-group {
    margin-bottom: 20px
}

.preform .form-control {
    font-size: 13px;
    border-radius: 3px;
    border: none !important
}

.preform .form-control:disabled {
    cursor: not-allowed;
    background: #404246;
    color: #ccc
}

.preform .prelabel {
    font-size: 11px;
    text-transform: uppercase;
    opacity: .5;
    font-weight: 400;
    letter-spacing: 1px
}

.preform .custom-control-label {
    line-height: 1.5rem
}

.text-forgot {
    line-height: 1.5rem
}

.link-highlight {
    color: #51D3FF !important;
    cursor: pointer
}

.modal-logo {
    text-align: center
}

.modal-logo img {
    height: 40px;
    width: auto
}

.premodal .modal-logo {
    margin-top: -10px
}

.premodal .alert {
    font-size: 13px;
    line-height: 1.4em;
    border-radius: 0
}

.premodal .btn {
    padding: .5rem .75rem;
    font-size: 14px;
    box-shadow: none !important
}
   /* I love css, I LOVE CSS!!!!!!!!!!!!!! */
  .input-nav-item {
    padding-left: 10px;
  }
  input.submit {
    width: 97% !important;
  }
  #xheader_menu .header_menu-list li.nav-item {
    display: block;
    margin: 10px 0;
    float: none;
    text-align: center;
  }
  #xheader_menu ul.header_menu-list .nav-item > a {
    height: auto;
    line-height: normal;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
  }
  #xheader_menu ul.header_menu-list .nav-item > a:hover {
    color: #51D3FF;
  }
  #xheader_menu.active {
    display: block !important;
  }
  #mw-home {
    padding-top: 20px;
  }
  .mw-heading,
  .heading-news {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #action-button {
    margin-bottom: 40px;
  }
  #xsearch.home-search .search-content .search-submit .search-icon i {
    font-size: 16px;
  }
  .mw-body {
    font-size: 14px;
    line-height: 1.5em;
  }
  .mw-buttons .btn {
    font-size: 18px;
    padding: 12px 40px;
  }
}
@media screen and (max-width: 520px) {
  #mw-top .mwh-logo {
    text-align: center;
  }
  #mw-top .mwh-logo .mwh-logo-div img {
    width: 200px;
    height: auto;
  }
  #mw-top .mwt-content {
    margin: 0 10px;
    padding-bottom: 50px;
  }
  .zr-news.zr-news-list .item .zr-news-thumb {
    width: 80px;
    padding-bottom: 60px;
    top: 5px;
  }
  .zr-news.zr-news-list .item {
    padding-left: 95px;
  }
  .zr-news.zr-news-list .item .description {
    line-height: 1.3em;
    -webkit-line-clamp: 3;
  }
  .mw-keywords .mwk-item {
    max-width: 140px;
  }
  #action-button {
    border-radius: 30px;
    position: relative;
    margin-top: -30px;
    z-index: 9;
  }
  #action-button .btn {
    font-size: 18px;
  }
  #xsearch.home-search .search-input {
    font-size: 14px;
  }
  .xhashtag .item {
    margin-bottom: 2px;
  }
  .share-buttons .share-buttons-block .sbb-title {
    padding: 0;
    border-left: none;
    margin-bottom: 10px;
    float: none;
  }
}

.videoSourceSelector {
    border-radius: 10px;
    background-color: #434242;
    color: white;
    border: none;
    padding: 1px;
}

.videoSourceSelector:focus-visible {
    outline: none;
}