<div class="footer">
    <br>
    <a href="/"><img style="margin-left: 20px;" width="168" height="62" class="navbar-brand" src="/img/logo.png" alt="HaiKei Logo"></a>
    <p class="description">HaiKei is a website for watching free anime! We have a wide selection of sources and content to pick from!<br> We have ads that can be disabled always on HaiKei, we don't like having to shove ads down user's throats just to make a dime.</p>
    <p class="description dmca"><a href="/dmca">DMCA</a></p>
    <div class="social-icons">
        <div class="discord"><a aria-label="discord" href="https://discord.gg/WxcynXsjf4"><i class="fa-brands fa-discord"></i></a></div>
    </div>
</div>