<div id="sidebar-nav" class="sidenav">
  <span class="close" onclick="sidebarClose()">&times;</span>
  <a href="/trending">Trending</a>
  <a href="/genre">Genres</a>
  <a href="/donate">Donate</a>
  <% if(loginState == true) { %>
    <a href="/watchlist">Watchlist</a>
  <% } %>
</div>
