<div id="sidebar-nav" class="sidenav">
  <span class="close" onclick="sidebarClose()">&times;</span>
  <img class="sidenav-logo" src="/img/logo.png" alt="">
  <a href="/trending">Trending</a>
  <a href="/genres">Genres</a>
  <a href="/donate">Donate</a>
  <a href="/contribute">Contribute</a>
  <a href="https://discord.gg/WxcynXsjf4">Discord</a>
  <a href="/watchlist">Watchlist</a>
  <a href="/w2g/">Watch2Gether</a>
</div>
