<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404!</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <div class="text-wrapper">
        <h1 class="main-text">The selected content couldn't be found on the server!</h1>
        <h2 class="sub-text">Try again later or make an issue on the <a class="github-link" href="https://github.com/wearrrrr/HaiKei">GitHub Repo</a></h2>
    </div>
    <div class="link-wrapper">
        <a class="return-home-link" href="/">Go back home</a>
    </div>
<div id="footer" style="margin-top: 200px; position: absolute;" data-settings='{"auto_play":1,"auto_next":1,"auto_load_comments":0,"enable_dub":0,"anime_name":"jp","play_original_audio":0}'>
<div id="footer-about">
    <div class="container">
        <div class="footer-top">
            <a href="/" class="footer-logo">
                <img src="/img/logo.png" alt="HaiKei">
                <div class="clearfix"></div>
            </a>
            <div class="footer-joingroup">
                <div class="zoro-group">
                    <div class="zrg-list">
            </div> 
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
        <div class="footer-az">
            <div class="block mb-3">
                
            <div class="clearfix"></div>
        </div>
            
                <div class="about-text">HaiKei does not store any files on our server, we only share link to the media which is hosted on 3rd party services.</div>
                    <p class="copyright">Copyright © 2022 HaiKei. All Rights Reserved</p>
                </div>
            </div>
        </div>
        <div id="mask-overlay"></div>
</div>
</body>
</html>