<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaiKei needs YOU!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://site-assets.fontawesome.com">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/index-redesign.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css" integrity="sha512-uZ+G0SzK4GMUDUzxzbIeLGLjYgAhQ2KrIV4bWIP5o6URt5XVcn8S02eW6C1DH35bqq/XX1jYwlhhNPPIE1+q1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
</head>
<body>
    <%- include('./templates/navbar.ejs') %>
    <%- include("./templates/sidenav.ejs") %>

    <h1 class="header">HaiKei needs developers!</h1>

    <h2 class="subheader">Have development experience? Fork the repo and open a pull request <a target="_blank" rel="noopener noreferrer" href="https://github.com/wearrrrr/HaiKei/pulls">Here!</a></h2>

    <h2 class="subheader">Have an issue/bug with the website? Open a new issue <a target="_blank" rel="noopener noreferrer" href="https://github.com/wearrrrr/HaiKei/issues/new/choose">Here!</a></h2>


    <h1 class="hardcoded-kaomoji">＼(￣▽￣)／</h1>

    <%- include("./templates/footer.ejs") %>

    <script src="/js/app.js"></script>

</body>
</html> 