<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMCA - HaiKei</title>
    <link rel="stylesheet" href="/css/index-redesign.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css" integrity="sha512-uZ+G0SzK4GMUDUzxzbIeLGLjYgAhQ2KrIV4bWIP5o6URt5XVcn8S02eW6C1DH35bqq/XX1jYwlhhNPPIE1+q1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
</head>
<body>
    <%- include("./templates/navbar.ejs") %>
    <%- include("./templates/sidenav.ejs") %>
    <div class="dmca-intro-header-container">
        <h1>DMCA Takedown Requests: </h1>
        <p>We take intellectual property rights very seriously and will respond quickly and effectively to valid DMCA takedown requests. The DMCA (Digital Millenium Copyright Act) Defines a set of strict standards for allowing copyright owners to keep their respective IPs as their own.</p>
    </div>

    <div class="dmca-requirements-container">
        <h1>DMCA Report Requirements</h1>
        <ul>
            <li>A description of the copyrighted work that you claim is being infringed</li>
            <li>A description of the material you claim is infringing and that you want removed or access to which you want disabled with a URL and proof you are the original owner or other location of that material</li>
            <li>Your name, title (if acting as an agent), address, telephone number, and email address</li>
            <li>The following statement: "I have a good faith belief that the use of the copyrighted material I am complaining of is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)"</li>
            <li>The following statement: "The information in this notice is accurate and, under penalty of perjury, I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right that is allegedly infringed"</li>
            <li>The following statement: "I understand that I am subject to legal action upon submitting a DMCA request without solid proof."</li>
            <li>An electronic or physical signature of the owner of the copyright or a person authorized to act on the owner's behalf.</li>
        </ul>
        <h3>You can get into contact with HaiKei through the following email address: <a href="mailto:dmca@haikei.xyz">dmca@haikei.xyz</a></h3>
        <h4>Your DMCA Request will be reviewed and we will take swift action if we find your report to uphold to all of the following standards and be a valid DMCA takedown request.</h4>
    </div>    
    
    <%- include("./templates/user-modals.ejs") %>
    <%- include('./templates/new-footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js" integrity="sha512-lR/2z/m/AunQdfBTSR8gp9bwkrjwMq1cP0BYRIZu8zd4ycLcpRYJopB+WsBGPDjlkJUwC6VHCmuAXwwPHlacww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/app.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/romajiEngHandler.js"></script>
</body>
</html>